<ion-view view-title="Money Tally Calc">
  <ion-content class="" overflow-scroll="true">
     <md-content layout-padding="">
    <form name="userForm">
     

      <div layout="row">
        <div flex>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Name</label>
          <input required="" name="name" ng-model="user.name">
          <div ng-messages="userForm.name.$error" ng-if="!showHints">
            <div ng-message="required">Name is required.</div>
          </div>
        </md-input-container>
        </div>
        <div flex="5" hide-xs="" hide-sm="">
          <!-- Spacer //-->
        </div>
          <div flex>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Enter Amount</label>
           <input required="" name="money" ng-model="user.money" type="number" step="0.01" min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
          <div ng-messages="userForm.money.$error" ng-if="!showHints">
             <div ng-message="required">Amount is required.</div>
             <div ng-message="pattern">Amount should be postive and allow two decimal values </div>
          </div>
        </md-input-container>
         </div>
      </div>
      <div layout="row">
        <div flex>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Name</label>
          <input required="" name="name" ng-model="user.name1">
          <div ng-messages="userForm.name.$error" ng-if="!showHints">
            <div ng-message="required">Name is required.</div>
          </div>
        </md-input-container>
        </div>
        <div flex="5" hide-xs="" hide-sm="">
          <!-- Spacer //-->
        </div>
          <div flex>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Enter Amount</label>
           <input required="" name="money" ng-model="user.money1" type="number" step="0.01" min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
          <div ng-messages="userForm.money.$error" ng-if="!showHints">
             <div ng-message="required">Amount is required.</div>
             <div ng-message="pattern">Amount should be postive and allow two decimal values </div>
          </div>
        </md-input-container>
         </div>
      </div>
      <div layout="row">
        <div flex>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Name</label>
          <input required="" name="name" ng-model="user.name2">
          <div ng-messages="userForm.name.$error" ng-if="!showHints">
            <div ng-message="required">Name is required.</div>
          </div>
        </md-input-container>
        </div>
        <div flex="5" hide-xs="" hide-sm="">
          <!-- Spacer //-->
        </div>
          <div flex>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Enter Amount</label>
           <input required="" name="money" ng-model="user.money2" type="number" step="0.01" min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
          <div ng-messages="userForm.money.$error" ng-if="!showHints">
             <div ng-message="required">Amount is required.</div>
             <div ng-message="pattern">Amount should be postive and allow two decimal values </div>
          </div>
        </md-input-container>
         </div>
      </div>
      <div layout="row">
        <div flex>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Name</label>
          <input required="" name="name" ng-model="user.name3">
          <div ng-messages="userForm.name.$error" ng-if="!showHints">
            <div ng-message="required">Name is required.</div>
          </div>
        </md-input-container>
        </div>
        <div flex="5" hide-xs="" hide-sm="">
          <!-- Spacer //-->
        </div>
          <div flex>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Enter Amount</label>
           <input required="" name="money" ng-model="user.money3" type="number" step="0.01" min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
          <div ng-messages="userForm.money.$error" ng-if="!showHints">
             <div ng-message="required">Amount is required.</div>
             <div ng-message="pattern">Amount should be postive and allow two decimal values </div>
          </div>
        </md-input-container>
         </div>
      </div>
       <!--md-button class="md-raised md-primary">Add User</md-button-->
       <md-button ng-disabled="userForm.$invalid" class="md-raised" ng-click="calc(user);">Submit</md-button>

    </form>
   <ion-list>
    <ion-item ng-repeat="list in lists">
        <h1>{{list.name}}</h1>
           <ion-list>
               <ion-item ng-repeat="result in list.result">
                <span>{{result.give}}</span> --- <span>{{result.money}}</span>
               </ion-item>
            </ion-list>
    </ion-item>
    </ion-list>
  </md-content>
  </ion-content>

</ion-view>


<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->